
.json-container {
    white-space: pre-wrap;
    font-family: monospace;
  }

  .d-flex{
    display: flex;
    justify-content: space-evenly;
 
  }

  #log .log-message
  {
    background-color: bisque;
    border: 2px solid brown;
    margin-top: 1%
  }
  .btn{cursor: pointer;}
  .btn:hover{
      border: 1.5px solid rgb(62, 24, 24);
  }